.title--name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.title--job {
  font-family: "Merriweather", serif;
  font-weight: 300; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  min-height: 100%;
  background-color: #080c14; }

body {
  -webkit-font-smoothing: antialiased; }

#canvas {
  position: fixed;
  top: 0;
  left: 0; }

.container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto; }

.title {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center; }
  .title .container {
    max-width: 885px; }

.title--job {
  display: inline-block;
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  color: #45c0ff;
  background: -webkit-linear-gradient(left, #00a8ff 0%, #00c8d0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media screen and (min-width: 750px) {
    .title--job {
      font-size: 36px; } }

.title--name {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff; }

.link--item {
  display: inline-block;
  padding: 10px 20px 0 0;
  vertical-align: middle;
  cursor: pointer; }

.link--dribbble path, .link--dribbble rect,
.link--linkedin path,
.link--linkedin rect,
.link--contact path,
.link--contact rect {
  transition: 0.15s;
  fill: rgba(255, 255, 255, 0.75); }

.link--dribbble:hover path, .link--dribbble:hover rect,
.link--linkedin:hover path,
.link--linkedin:hover rect,
.link--contact:hover path,
.link--contact:hover rect {
  fill: #fff; }
