///////////////////////////////////////////////////////
// visbility compontent
///////////////////////////////////////////////////////

@mixin visbility($space: "") {
	.#{$space}dis-none,
	%#{$space}dis-none         { display: none; }

	.#{$space}dis-inline,
	%#{$space}dis-inline       { display: inline; }

	.#{$space}dis-inline-block,
	%#{$space}dis-inline-block { display: inline-block; }

	.#{$space}dis-block,
	%#{$space}dis-block        { display: block; }

	.#{$space}dis-table,
	%#{$space}dis-table        { display: table; }
		
	.#{$space}dis-table-cell,
	%#{$space}dis-table-cell   { display: table-cell; }
}

@mixin visuallyhidden($space: "") {
	.#{$space}visuallyhidden,
	%#{$space}visuallyhidden {
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		position: absolute;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0);
	}
}

@include visbility();
@include visuallyhidden();

@for $i from 1 through length($bp-names) {
	$name: nth($bp-names,$i);
	
	@include media-query($name) {
		@include visbility('#{$name}-');
		@include visuallyhidden('#{$name}-');
	}
}
	
// need palm for accessibility

@include media-query-debug() {
	@include visuallyhidden('palm-');
}