///////////////////////////////////////////////////////
// Helper classes
///////////////////////////////////////////////////////

///////////////////////////////
// clearfix
///////////////////////////////

.cf,
.clearfix,
%cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
		
	&:after {
		clear: both;
	}
}
	

///////////////////////////////
// base font size
///////////////////////////////

%font-size-base         { @include font-size($font-size-base); }

///////////////////////////////
// font families
///////////////////////////////

%font-family-sans-serif { font-family: $font-family-sans-serif; }
%font-family-serif      { font-family: $font-family-serif; }
%font-family-base       { font-family: $font-family-base; }

///////////////////////////////
// position
///////////////////////////////

%pos--rel               { position: relative; }
%pos--abs               { position: absolute; }
%pos--fixed             { position: fixed; }

///////////////////////////////
// text align
///////////////////////////////

%text--left             { text-align: left; }
%text--right            { text-align: right; }
%text--center           { text-align: center; }

///////////////////////////////
// text transform
///////////////////////////////

%text--uppercase        { text-transform: uppercase; }
%text--lowercase        { text-transform: lowercase; }
%text--capitalize       { text-transform: capitalize; }

///////////////////////////////
// floats
///////////////////////////////

%float--left            { float: left; }
%float--right           { float: right; }
%float--none            { float: none; }

////////////////////////////////
// font weights
////////////////////////////////

%font-weight--light     { font-weight: $font-weight-light; }
%font-weight--normal    { font-weight: $font-weight-normal; }
%font-weight--semibold  { font-weight: $font-weight-semibold; }