
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	min-height: 100%;
	background-color: $site-background;
}

body {
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: #a800ab;
  color: $white;
}

::selection {
  background: #a800ab;
  -webkit-text-fill-color: $white;
  color: $white;
}
