///////////////////////////////////////////////////////
// Box model component
///////////////////////////////////////////////////////

// * these are always invisible classes. if you need to create patterns
// out of these, create utility classes

@mixin box-model($space: "") {

	%#{$space}padding              { padding: $sub; }
	%#{$space}padding--left        { padding-left: $sub; }
	%#{$space}padding--right       { padding-right: $sub; }
	%#{$space}padding--top         { padding-top: $sub; }
	%#{$space}padding--bottom      { padding-bottom: $sub; }
	%#{$space}padding--sides       { padding-left: $sub; padding-right: $sub; }
	%#{$space}padding--ends        { padding-top: $sub; padding-bottom: $sub; }

	%#{$space}padding-half         { padding: $suh; }
	%#{$space}padding-half--left   { padding-left: $suh; }
	%#{$space}padding-half--right  { padding-right: $suh; }
	%#{$space}padding-half--top    { padding-top: $suh; }
	%#{$space}padding-half--bottom { padding-bottom: $suh; }
	%#{$space}padding-half--sides  { padding-left: $suh; padding-right: $suh; }
	%#{$space}padding-half--ends   { padding-top: $suh; padding-bottom: $suh; }

	%#{$space}padding-dbl          { padding: $sud; }
	%#{$space}padding-dbl--left    { padding-left: $sud; }
	%#{$space}padding-dbl--right   { padding-right: $sud; }
	%#{$space}padding-dbl--top     { padding-top: $sud; }
	%#{$space}padding-dbl--bottom  { padding-bottom: $sud; }
	%#{$space}padding-dbl--sides   { padding-left: $sud; padding-right: $sud; }
	%#{$space}padding-dbl--ends    { padding-top: $sud; padding-bottom: $sud; }

	%#{$space}padding-off          { padding: 0; }
	%#{$space}padding-off--left    { padding-left: 0; }
	%#{$space}padding-off--right   { padding-right: 0; }
	%#{$space}padding-off--top     { padding-top: 0; }
	%#{$space}padding-off--bottom  { padding-bottom: 0; }
	%#{$space}padding-off--sides   { padding-left: 0; padding-right: 0; }
	%#{$space}padding-off--ends    { padding-top: 0; padding-bottom: 0; }

	%#{$space}margin               { margin: $sub; }
	%#{$space}margin--left         { margin-left: $sub; }
	%#{$space}margin--right        { margin-right: $sub; }
	%#{$space}margin--top          { margin-top: $sub; }
	%#{$space}margin--bottom       { margin-bottom: $sub; }
	%#{$space}margin--sides        { margin-left: $sub; margin-right: $sub; }
	%#{$space}margin--ends         { margin-top: $sub; margin-bottom: $sub; }

	%#{$space}margin-half          { margin: $suh; }
	%#{$space}margin-half--left    { margin-left: $suh; }
	%#{$space}margin-half--right   { margin-right: $suh; }
	%#{$space}margin-half--top     { margin-top: $suh; }
	%#{$space}margin-half--bottom  { margin-bottom: $suh; }
	%#{$space}margin-half--sides   { margin-left: $suh; margin-right: $suh; }
	%#{$space}margin-half--ends    { margin-top: $suh; margin-bottom: $suh; }

	%#{$space}margin-dbl           { margin: $sud; }
	%#{$space}margin-dbl--left     { margin-left: $sud; }
	%#{$space}margin-dbl--right    { margin-right: $sud; }
	%#{$space}margin-dbl--top      { margin-top: $sud; }
	%#{$space}margin-dbl--bottom   { margin-bottom: $sud; }
	%#{$space}margin-dbl--sides    { margin-left: $sud; margin-right: $sud; }
	%#{$space}margin-dbl--ends     { margin-top: $sud; margin-bottom: $sud; }

	%#{$space}margin-off           { margin: 0; }
	%#{$space}margin-off--left     { margin-left: 0; }
	%#{$space}margin-off--right    { margin-right: 0; }
	%#{$space}margin-off--top      { margin-top: 0; }
	%#{$space}margin-off--bottom   { margin-bottom: 0; }
	%#{$space}margin-off--sides    { margin-left: 0; margin-right: 0; }
	%#{$space}margin-off--ends     { margin-top: 0; margin-bottom: 0; }

	%#{$space}margin-auto          { margin: auto; }
	%#{$space}margin-auto--left    { margin-left: auto; }
	%#{$space}margin-auto--right   { margin-right: auto; }
	%#{$space}margin-auto--top     { margin-top: auto; }
	%#{$space}margin-auto--bottom  { margin-bottom: auto; }
	%#{$space}margin-auto--sides   { margin-left: auto; margin-right: auto; }
	%#{$space}margin-auto--ends    { margin-top: auto; margin-bottom: auto; }

}

@include box-model();

@for $i from 1 through length($bp-names) {

	$name: nth($bp-names,$i);
	
	@include media-query($name) {
		@include box-model('#{$name}-')
	}
}