//////////////////////////////////////////////////////////////////
// media object
//////////////////////////////////////////////////////////////////

@if $use-media == true {
	.media,
	.media__body { overflow: hidden; }
		
	.media__img {
		float: left;
		margin-right: $sub;

		.media--rev & {
			float: right;
			margin-left: $sub;
			margin-right: 0;
		}
	}
}