//////////////////////////////////////////////////////////////////
// mast component
//////////////////////////////////////////////////////////////////

/////////////////////////////////////////
// layout mast
/////////////////////////////////////////

@mixin layout-mast-setup($space: "") {
	.mast__stay {
		
		// whole
		.mast--#{$space}one-whole &       { padding-bottom: 100%;}

		// halves
		.mast--#{$space}one-half &,
		.mast--#{$space}two-fourths &     { padding-bottom: 50%; }

		// thirds
		.mast--#{$space}one-third &       { padding-bottom: 33.333%; }
		.mast--#{$space}two-thirds &      { padding-bottom: 66.666%; }
		
		// fourths
		.mast--#{$space}one-fourth &      { padding-bottom: 25%; }				
		.mast--#{$space}three-fourths &   { padding-bottom: 75%; }
	
	}	
}

/////////////////////////////////////////
// invisible mast classes
/////////////////////////////////////////

@mixin mast-setup($space: "") {
	.mast__stay {

		// whole
		%mast--#{$space}one-whole &       { padding-bottom: 100%; }
		
		// half
		%mast--#{$space}one-half &,
		%mast--#{$space}two-fourths &,
		%mast--#{$space}three-sixths &,
		%mast--#{$space}four-eighths &,
		%mast--#{$space}five-tenths &,
		%mast--#{$space}six-twelfths &    { padding-bottom: 50%; }
		
		// thirds
		%mast--#{$space}one-third &,
		%mast--#{$space}two-sixths &,
		%mast--#{$space}three-ninths &,
		%mast--#{$space}four-twelfths &   { padding-bottom: 33.333%; }
		
				
		%mast--#{$space}two-thirds &,
		%mast--#{$space}four-sixths &,
		%mast--#{$space}six-ninths &,
		%mast--#{$space}eight-twelfths &  { padding-bottom: 66.666%; }
		
			
		// fourths
		%mast--#{$space}one-fourth &,
		%mast--#{$space}two-eighths &,
		%mast--#{$space}three-twelfths &  { padding-bottom: 25%; }	

		%mast--#{$space}three-fourths &,
		%mast--#{$space}six-eighths &,
		%mast--#{$space}nine-twelfths &   { padding-bottom: 75%; }

		// fifths
		%mast--#{$space}one-fifth &,
		%mast--#{$space}two-tenths &      { padding-bottom: 20%; }

		%mast--#{$space}two-fifths &,
		%mast--#{$space}four-tenths &     { padding-bottom: 40%; }

		%mast--#{$space}three-fifths &,
		%mast--#{$space}six-tenths &      { padding-bottom: 60%; }

		%mast--#{$space}four-fifths &,
		%mast--#{$space}eight-tenths &    { padding-bottom: 80%; }
		
		// sixths
		%mast--#{$space}one-sixth &,
		%mast--#{$space}two-twelfths &    { padding-bottom: 16.666%; }

		%mast--#{$space}five-sixths &,
		%mast--#{$space}ten-twelfths &    { padding-bottom: 83.333%; }
		
		// sevenths
		%mast--#{$space}one-seventh &     { padding-bottom: 14.285%; }
		%mast--#{$space}two-sevenths &    { padding-bottom: 28.571%; }
		%mast--#{$space}three-sevenths &  { padding-bottom: 42.857%; }
		%mast--#{$space}four-sevenths &   { padding-bottom: 57.142%; }
		%mast--#{$space}five-sevenths &   { padding-bottom: 71.428%; }		
		%mast--#{$space}six-sevenths &    { padding-bottom: 85.714%; }
		
		// eighths
		%mast--#{$space}one-eighth &      { padding-bottom: 12.5%; }		
		%mast--#{$space}three-eighths &   { padding-bottom: 37.5%; }		
		%mast--#{$space}five-eighths &    { padding-bottom: 62.5%; }
		%mast--#{$space}seven-eighths &   { padding-bottom: 87.5%; }
				
		// ninths
		%mast--#{$space}one-ninth &       { padding-bottom: 11.111%; }
		%mast--#{$space}two-ninths &      { padding-bottom: 22.222%; }
		%mast--#{$space}four-ninths &     { padding-bottom: 44.444%; }
		%mast--#{$space}five-ninths &     { padding-bottom: 55.555%; }
		%mast--#{$space}seven-ninths &    { padding-bottom: 77.777%; }
		%mast--#{$space}eight-ninths &    { padding-bottom: 88.888%; }
		
		// tenths
		%mast--#{$space}one-tenth &       { padding-bottom: 10%; }
		%mast--#{$space}three-tenths &    { padding-bottom: 30%; }
		%mast--#{$space}seven-tenths &    { padding-bottom: 70%; }
		%mast--#{$space}nine-tenths &     { padding-bottom: 90%; }
				
		// twelfths
		%mast--#{$space}one-twelfth &     { padding-bottom: 8.333%; }
		%mast--#{$space}five-twelfths &   { padding-bottom: 41.666%; }
		%mast--#{$space}seven-twelfths &  { padding-bottom: 58.333%; }
		%mast--#{$space}eleven-twelfths & { padding-bottom: 91.666%; }
		
	}		
}

@if $use-mast == true {
	.mast__stay {
		position: relative;
		height: 0;
	}

	.mast__anchor {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
		
	.mast__text { height: 100%; } /* in case text would like to be vertically centered */

	@include layout-mast-setup;
	@include mast-setup();

	@for $i from 1 through length($bp-names) {

		$name: nth($bp-names,$i);

		[class*="mast--#{$name}"] {

			.mast__anchor { position: relative; }
			.mast__stay   { height: auto; }
				

			@include media-query($name) {
				.mast__anchor { position: absolute; }
				.mast__stay   { height: 0; }
			}
		}

		@include media-query($name) {
			@include layout-mast-setup('#{$name}-');
			@include mast-setup('#{$name}-');
		}
	}
}