html,
body
	height: 100%

html
	background-color: #080c14
	@extend %bg-noise

body
	@extend %gotham-light
	font-size: 18px
	color: #444

a
	text-decoration: none

img
	height: auto

::selection
	background: $glow-blue
	color: $white
	-webkit-text-fill-color: $white

::-moz-selection
	background: $glow-blue
	color: $white