.container
	max-width: $site-width
	width: 90%
	margin: 0 auto

.btn 
	@extend %pos--rel
	@extend %dis-inline-block
	@extend %gotham-bold
	@extend %text--uppercase
	@extend %letter-spacing--small
	+font-size(16px)
	overflow: hidden
	padding: 15px 25px
	text-decoration: none
	border: 1px solid $white
	transition: .3s
	&:after
		content: ''
		@extend %pos--abs
		z-index: -1
		left: 0
		top: 100%
		width: 100%
		height: 100%
		background: $white
		transition: .3s
	&:hover
		color: $text-dark
		&:after
			top: 0
	+media-query(lap)
		+font-size(24px)
		padding: 20px 70px

//temp header
.coming-soon
	@extend %pos--rel
	@extend %text--center
	margin: 0
	overflow: hidden
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	&:after
		content: ''
		@extend %pos--abs
		height: 200px
		bottom: -100px
		left: -45%
		right: -45%
		border-radius: 50%
		background-color: $white
		box-shadow: 0 0px 200px 0px rgba($glow-blue, .75), 0 0 60px 15px rgba($glow-blue, .5)
		+media-query(lap)
			height: 300px
			bottom: -150px
			left: -15%
			right: -15%

.coming-soon--text
	@extend %gotham-light
	@extend %text--uppercase
	@extend %letter-spacing--large
	@extend %dis-inline-block
	+font-size(18px, $line-height:false)
	line-height: 2
	color: #45c0ff
	padding-bottom: 100px
	background: -webkit-linear-gradient(left, #00a8ff 0%, #cfefff 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	+media-query(lap)
		+font-size(40px, $line-height:false)
		line-height: 1.5

.coming-soon--title
	@extend %gotham-bold
	+font-size(16px, $line-height:false)
	+media-query(lap)
		+font-size(24px, $line-height:false)


.work
	background: $white
	padding: 10px 0 150px 0
	box-shadow: 0 0px 180px 0px rgba($glow-blue, .75), 0 0 40px 15px rgba($glow-blue, .5)

.portfolio-item
	margin-bottom: 24px
	height: 300px
	background: gray


.about-me
	padding: 160px 0

.contact
	@extend %pos--rel
	@extend %text--center
	padding: 50px 0 150px 0
	overflow: hidden
	&:after
		content: ''
		@extend %pos--abs
		bottom: -250px
		left: 5%
		right: 5%
		height: 300px
		border-radius: 50%
		background-color: $white
		box-shadow: 0px -10px 100px rgba($glow-blue, .75)

.contact-blurb
	@extend %gotham-light
	@extend %text--uppercase
	margin-bottom: 50px