.header
	@extend %pos--abs
	z-index: 100
	top: 0
	left: 0
	right: 0
	text-align: center
	transition: .3s
	+media-query(lap)
		text-align: right
	&:after
		content: ''
		@extend %pos--abs
		left: 10%
		right: 10%
		bottom: 0
		height: 1px
		@extend %white-glow
		transition: 1s

.header-name
	@extend %dis-block
	@extend %gotham-bold
	@extend %text--uppercase
	@extend %text--center
	@extend %letter-spacing--small
	padding: 20px 0
	color: $white
	+media-query(lap)
		text-align: left

.menu-item
	@extend %dis-inline-block
	@extend %gotham-bold
	@extend %text--uppercase
	+font-size(12px)
	padding: 10px
	color: $white
	text-decoration: none
	+media-query(lap)
		+font-size(14px)
		padding: 20px 25px

.container
	max-width: $site-width
	width: 90%
	margin: 0 auto

.btn 
	@extend %pos--rel
	@extend %dis-inline-block
	@extend %gotham-bold
	@extend %text--uppercase
	@extend %letter-spacing--small
	+font-size(16px)
	overflow: hidden
	padding: 15px 25px
	text-decoration: none
	border: 1px solid $white
	transition: .3s
	-webkit-backface-visibility: hidden
	&:after
		content: ''
		@extend %pos--abs
		z-index: -1
		left: 0
		top: 100%
		width: 100%
		height: 100%
		background: $white
		transition: .3s
	&:hover
		color: $text-dark
		&:after
			top: 0
	+media-query(lap)
		+font-size(24px)
		padding: 20px 70px

.has-dark-bg
	color: $white


//temp header
.coming-soon
	@extend %pos--rel
	@extend %text--center
	@extend %margin-off
	overflow: hidden
	height: 100vh
	display: flex
	justify-content: center
	align-items: center

.coming-soon--text
	@extend %gotham-light
	@extend %text--uppercase
	@extend %letter-spacing--large
	@extend %dis-inline-block
	+font-size(18px, $line-height:false)
	line-height: 1.5
	color: #45c0ff
	background: -webkit-linear-gradient(left, #00a8ff 0%, #309B92 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	+media-query(lap)
		+font-size(36px, $line-height:flase)

.coming-soon--title
	@extend %dis-block
	@extend %gotham-bold
	+font-size(16px, $line-height:false)
	line-height: 2
	+media-query(lap)
		+font-size(18px, $line-height:false)

.about-me
	padding: 160px 0

.contact
	@extend %pos--rel
	@extend %text--center
	padding: 50px 0 150px 0
	overflow: hidden

.contact-blurb
	@extend %gotham-light
	@extend %text--uppercase
	margin-bottom: 50px