.header
	@extend %pos--abs
	z-index: 100
	top: 0
	left: 0
	right: 0
	text-align: center
	transition: .3s
	+media-query(lap)
		text-align: right
	&:after
		content: ''
		@extend %white-glow
		@extend %pos--abs
		left: 10%
		right: 10%
		bottom: 0
		height: 1px
		transition: 1s

.header-name
	@extend %dis-block
	@extend %gotham-bold
	@extend %text--uppercase
	@extend %text--center
	@extend %letter-spacing--small
	padding: 20px 0
	color: $white
	+media-query(lap)
		text-align: left

.menu-item
	@extend %dis-inline-block
	@extend %gotham-bold
	@extend %text--uppercase
	+font-size(12px)
	margin: 0 10px
	padding: 10px
	color: $white
	text-decoration: none
	vertical-align: middle
	cursor: pointer
	+media-query(lap)
		+font-size(14px)
		margin: 10px
		padding: 10px 15px
	display: none
	+media-query(lap)
		display: inline-block

.menu-dribbble,
.menu-linkedin
	padding: 10px 0
	path, rect
		transition: .3s
		fill: rgba($white, .75)
	&:hover
		path, rect
			fill: $white

.menu-contact
	//display: block
	+media-query(lap)
		display: inline-block

.container
	max-width: $site-width
	width: 90%
	margin: 0 auto

.has-dark-bg
	color: $white

.coming-soon
	@extend %pos--rel
	@extend %text--center
	@extend %margin-off
	overflow: hidden
	height: auto
	padding: 150px 0
	display: flex
	justify-content: center
	align-items: center
	+media-query(lap)
		height: 100vh
		padding: 0

.coming-soon--text
	@extend %gotham-light
	@extend %text--uppercase
	@extend %letter-spacing--large
	@extend %dis-inline-block
	@extend %margin-off
	@extend %pos--rel
	z-index: 10
	+font-size(16px, $line-height:false)
	line-height: 1.5
	color: #45c0ff
	background: -webkit-linear-gradient(left, #00a8ff 0%, #309B92 100%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	+media-query(lap)
		+font-size(36px, $line-height:flase)

.coming-soon--title
	@extend %dis-block
	@extend %gotham-bold
	+font-size(14px, $line-height:false)
	line-height: 2
	+media-query(lap)
		+font-size(18px, $line-height:false)

.contact
	@extend %text--center
	padding: 200px 0

.contact-blurb
	@extend %gotham-light
	@extend %text--uppercase
	margin-bottom: 50px