.btn 
	@extend %pos--rel
	@extend %dis-inline-block
	@extend %gotham-bold
	@extend %text--uppercase
	+font-size(14px)
	z-index: 10
	border-radius: 3px
	overflow: hidden
	padding: 8px 12px
	text-decoration: none
	border: 1px solid rgba($white, .6)
	transition: .3s
	-webkit-backface-visibility: hidden
	&:after
		content: ''
		@extend %pos--abs
		z-index: -1
		left: 0
		top: 100%
		width: 100%
		height: 100%
		background: $white
		transition: .3s
	&:hover
		color: $text-dark
		border: 1px solid $white
		&:after
			top: 0
	+media-query(lap)
		padding: 8px 12px

.btn-large
	@extend .btn
	@extend %letter-spacing--small
	padding: 15px 25px
	+media-query(lap)
		+font-size(20px)
		padding: 20px 50px

.planet
	@extend %pos--abs
	+media-query(lap)
		top: 50%
		left: 50%
		z-index: 5
		width: 555px
		height: 555px
		background: #000A1A
		border-radius: 50%
		box-shadow: inset -10px 10px 75px -30px #c3e8fd, inset -10px 10px 25px -15px #c3e8fd, 2px -2px 2px rgba($white, .85)
		+transform(translateX(-50%) translateY(-50%))