//-----------------------------------------------------------------------------------------
//  Typography
//-----------------------------------------------------------------------------------------

%gotham
	font-family: "Gotham SSm A", sans-serif

%gotham-light,
%gotham-book,
%gotham-bold
	@extend %gotham

%gotham-light
	font-weight: 300

%gotham-book
	font-weight: 400

%gotham-bold
	font-weight: 700

%tungsten
	font-family: "Tungsten Comp A", "Tungsten Comp B"
	font-weight: 500
	font-style: normal
	@extend %text--uppercase

%letter-spacing--small
	letter-spacing: 3px

%letter-spacing--large
	letter-spacing: 10px