.work
	background: $white
	padding: 50px 0 100px 0
	box-shadow: 0 0px 180px 0px rgba($glow-blue, .75)

.project-item
	margin-bottom: 24px

.project-image-wrap
	@extend %pos--rel
	min-height: 275px
	background-color: #fafbfc
	border-radius: 3px
	transition: .3s
	overflow: hidden
	&:hover
		.project-name,
		.project-link
			opacity: 1

.project-name
	@extend %pos--abs
	@extend %margin-off
	@extend %gotham-light
	@extend %text--uppercase
	@extend %letter-spacing--small
	z-index: 10
	width: 100%
	height: 100%
	z-index: 10
	padding: 20px
	color: $white
	line-height: 1.5
	opacity: 0
	transition: .3s

.project-link
	@extend %pos--abs
	@extend %gotham-bold
	@extend %text--uppercase
	@extend %letter-spacing--small
	z-index: 20
	right: 0
	bottom: 0
	margin: 20px
	padding: 10px 20px
	border-radius: 3px
	border: 1px solid $white
	color: $white
	opacity: 0
	transition: .3s
	&:hover
		background-color: $white
		color: $text-dark

.ezrac
	background: url(../img/ezrac-hover.jpg) no-repeat center/cover
	.project-name
		+background(linear-gradient(-45deg, rgba(#780206, .85) 10%, rgba(#061161, .85) 90%))

.orlando-memory
	background: url(../img/orlando-hover.jpg) no-repeat center top/cover
	.project-name
		+background(linear-gradient(-45deg, rgba(#dca932, .85) 10%, rgba(#1d7272, .85) 90%))

.santa
	background: url(../img/santa-hover.jpg) no-repeat center top/cover
	.project-name
		+background(linear-gradient(-45deg, rgba(#7f080c, .85) 10%, rgba(#0e4519, .85) 90%))

.app-icon
	background: url(../img/app-hover.jpg) no-repeat center/cover
	.project-name
		+background(linear-gradient(-45deg, rgba(#ec7100, .85) 10%, rgba(#ffb50e, .85) 90%))

.dribbble-link
	@extend %dis-block
	@extend %text--center
	margin: 50px 0 0 0
	padding: 15px 0
	color: #444
	transition: .3s
	img
		@extend %dis-block
		margin: 0 auto 10px auto
	&:hover
		background-color: #f4f6f8

